@import "compass/css3/box-shadow";

@mixin -treesaver-theme-basic-grid {
  .grid {
    background-color: $treesaver-theme-grid-background-color;
    @include single-box-shadow($treesaver-theme-grid-shadow-color, 0, 2px, 5px);

    margin: $treesaver-theme-grid-outer-margins;
    padding: 0 $treesaver-theme-grid-padding-horizontal;

    opacity: .25;
  }

  #currentPage {
    opacity: 1;
  }
}

@mixin -treesaver-theme-basic-grid-vertical-padding($height: 24px) {
  .grid {
    min-height: $height * 2;
  }

  .column, .container {
    top: $height;
    bottom: $height;
  }
}
