div, p, button {
  font-family: $treesaver-theme-font-family;
  font-size: $treesaver-theme-base-font-size;
}

h1 {
  font-family: $treesaver-theme-font-family;
  font-size: $treesaver-theme-h1-font-size;
  line-height: $treesaver-theme-h1-line-height;
}

h2 {
  font-size: $treesaver-theme-h2-font-size;
  line-height: $treesaver-theme-h2-line-height;
}

h3 {
  font-size: $treesaver-theme-h3-font-size;
  line-height: $treesaver-theme-h3-line-height;
}

h4 {
  font-size: $treesaver-theme-h4-font-size;
  line-height: $treesaver-theme-h4-line-height;
}

h5 {
  font-size: $treesaver-theme-h5-font-size;
  line-height: $treesaver-theme-h5-line-height;
}

h6 {
  font-size: $treesaver-theme-h6-font-size;
  line-height: $treesaver-theme-h6-line-height;
}
