div, p, button {
  font-family: $treesaver-theme-font-family;
  font-size: $treesaver-theme-base-font-size;
}

h1 {
  font-family: $treesaver-theme-font-family;
  font-size: $treesaver-theme-h1-font-size;
}

h2 {
  font-size: $treesaver-theme-h2-font-size;
}

h3 {
  font-size: $treesaver-theme-h3-font-size;
}

h4 {
  font-size: $treesaver-theme-h4-font-size;
}

h5 {
  font-size: $treesaver-theme-h5-font-size;
}

h6 {
  font-size: $treesaver-theme-h6-font-size;
}
