//
// Basic styling for the whole "site"
//
@mixin -curry-plain-body {
  // fallback used when JavaScript is disabled
  body {
    background-color: $curry-plain-fallback-body-background-color;
  }

  .treesaver {
    body {
      background-color: $curry-plain-body-background-color;
    }

    a {
      text-decoration: none;
    }
  }
}
